notes-node/node_modules/*
notes-node/package-lock.json
weather-app/node_modules/*
weather-app/package-lock.json
weather-app/auth/*.json
node-web-server/node_modules/*
node-web-server/package-lock.json
node-web-server/server.log
node-web-server/.git
node-web-server/.gitignore
